<!-- <hotel-header></hotel-header> -->
<!-- <ng-template #header></ng-template>
<hotel-header></hotel-header>
<hotel-header></hotel-header>
<div #name></div>
<div #name></div>
<div #name></div>
<hotel-rooms></hotel-rooms>
<hotel-container>
  <hotel-rooms></hotel-rooms>
  <!-- <div [ngSwitch]="role">
    <div *ngSwitchCase="'user'">content user</div>
    <div *ngSwitchCase="'admin'"><hotel-rooms></hotel-rooms></div>
  </div>
</hotel-container> -->

<!-- <div class="menu-block">
  <ul class="menu">
    <li><a [routerLink]="'rooms'">Rooms</a></li>
    <li><a [routerLink]="'employees'">Employees</a></li>
  </ul>
</div>
<router-outlet></router-outlet> -->
<hotel-app-nav></hotel-app-nav>
