img {
  transition: transform 0.2s; /* Animation */
  width: 50px;
  height: 50px;
  margin: 0 auto;
}
img:hover {
  transform: scale(8);
}
.odd {
  background-color: tomato;
  color: white;
}
.even {
  background-color: rgb(3, 223, 252);
  color: white;
}
